body {
  font-family: Arial, sans-serif;
  background: linear-gradient(to right, #667eea, #764ba2);
  color: white;
  text-align: center;
  margin-top: 50px;
}

h1 {
  font-size: 40px;
}

input {
  padding: 10px;
  width: 250px;
  border-radius: 5px;
  border: none;
}

button {
  padding: 10px 15px;
  background-color: #ff7b54;
  border: none;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #ff5722;
}

li {
 
display: flex;
justify-content: space-between;
align-items: center;
width: 300px;
margin: 10px auto;
background: white;
color: black;
padding: 10px;
border-radius: 5px;

}