body {
  font-family: Arial, sans-serif;
  background: linear-gradient(to right, #f369bc, #7f49b6);
  color: rgb(246, 244, 244);
  text-align: center;
  margin-top: 70px;
}

h1 {
  font-size: 50px;
}

input {
  padding: 8px;
  width: 250px;
  border-radius: 6px;
  border: 1px solid #ddd;
}

button {
  margin-top: 10px;
  padding: 10px 15px;
  background-color: #d33925;
  border: #ffffff;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #ff5722;
}

li {
 
display: flex;
justify-content: space-between;
align-items: center;
width: 300px;
margin: 10px auto;
background: white;
color: black;
padding: 2px 2px;
margin-top: 8px;
border-radius: 6px;
border: 1px solid #ddd;
box-shadow: none;
transform: scale(1.02);
transition: 0.2s;
font-size: 14px;
}